Repository defenseunicorns/pepr-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

Potential fix for code scanning alert no. 18: Incomplete string escaping or encoding
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: removed linkcheck and added summary and report to test.yml
  .github/workflows/linkcheck.yml
  .github/workflows/test.yml
Due: none

chore: edited summary
  .github/workflows/test.yml
Due: none

chore: debug summary
  .github/workflows/test.yml
Due: none

chore: workflow failure
  .github/workflows/test.yml
Due: none

chore: workflow to full path for summary
  .github/workflows/test.yml
Due: none

chore: removed linkcheck and added summary and report to test.yml (#162)
  .github/workflows/linkcheck.yml
  .github/workflows/test.yml
Due: none

chore: corrected syntax error on docs yml
  .github/workflows/docs.yml
Due: none

chore: updated root README
  README.md
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: extracted core integration tests
  scripts/tests/core-integration.test.mjs
  scripts/tests/pipeline-integration.test.mjs
Due: prettier --write, eslint --fix

chore: refactored and added tests
  .github/workflows/scripts/linkcheck.sh
  astro.config.mjs
  package-lock.json
  package.json
  scripts/index.mjs
  scripts/lib/fix-image-paths.mjs
  scripts/lib/heredoc.mjs
  scripts/lib/process-content-links.mjs
  scripts/lib/redirects-generator.mjs
  scripts/lib/remove-html-comments.mjs
  scripts/lib/transform-content.mjs
  scripts/lib/version-discovery.mjs
  scripts/tests/content-transformation.test.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/core-processing.test.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/examples-processing.test.mjs
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
  scripts/tests/redirects-generator.test.mjs
  scripts/tests/remove-html-comments.test.mjs
  scripts/tests/test-helpers.mjs
  scripts/tests/version-discovery.test.mjs
  vitest.config.js
Due: prettier --write, eslint --fix, shellcheck -f tty

chore: update package
  package.json
Due: prettier --write

chore: clean up unneeded
  scripts/tests/core-processing.test.mjs
  scripts/tests/examples-processing.test.mjs
  scripts/tests/test-helpers.mjs
Due: prettier --write, eslint --fix

chore: removed skips and refactored for tables
  scripts/index.mjs
  scripts/tests/content-transformation.test.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/transform-content.test.mjs
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

chore: added start here link
  astro.config.mjs
Due: prettier --write, eslint --fix

chore: added start here link (#167)
  astro.config.mjs
Due: prettier --write, eslint --fix

chore: updated build to map root files properly
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: refocused core integration test
  scripts/tests/core-integration.test.mjs
Due: prettier --write, eslint --fix

chore: updated build to map root files properly (#170)
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: refocused examples integration tests
  scripts/tests/examples-integration.test.mjs
Due: prettier --write, eslint --fix

chore: added missing test coverage in process content links test
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: refactor redirects generator to use helper functions
  scripts/lib/redirects-generator.mjs
  scripts/tests/redirects-generator.test.mjs
Due: prettier --write, eslint --fix

chore: refactor version-discovery test to use helper functions and add missing tests
  scripts/lib/version-discovery.mjs
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

chore: installed vitest test coverage dep
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

chore: extracted nuild functions
  scripts/index.mjs
  scripts/lib/file-metadata.mjs
  scripts/lib/frontmatter.mjs
  scripts/lib/root-mappings.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/file-metadata.test.mjs
  scripts/tests/frontmatter.test.mjs
Due: prettier --write, eslint --fix

chore: fixed decoupled logic
  scripts/index.mjs
  scripts/lib/examples-processing.mjs
  scripts/lib/frontmatter.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/frontmatter.test.mjs
Due: prettier --write, eslint --fix

chore: autocollapse sidebar
  astro.config.mjs
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: adjusted sidebar example processing
  astro.config.mjs
  scripts/index.mjs
  scripts/lib/examples-processing.mjs
  scripts/lib/generate-examples-sidebar.mjs
  scripts/tests/examples-integration.test.mjs
Due: prettier --write, eslint --fix

chore: added examples redirects
  scripts/lib/redirects-generator.mjs
  scripts/tests/redirects-generator.test.mjs
Due: prettier --write, eslint --fix

chore: debug examples redirects
  scripts/lib/redirects-generator.mjs
Due: prettier --write, eslint --fix

chore: force redirect for examples
  scripts/lib/redirects-generator.mjs
  scripts/tests/redirects-generator.test.mjs
Due: prettier --write, eslint --fix

chore: regenerate package lock
  package-lock.json
Due: prettier --write

chore: regenerate package lock
  package-lock.json
  package.json
Due: prettier --write

chore: builds pexex (#160)
  .github/workflows/docs.yml
  .github/workflows/scripts/linkcheck.sh
  .github/workflows/test.yml
  .gitignore
  README.md
  astro.config.mjs
  netlify.toml
  package-lock.json
  package.json
  scripts/build.sh
  scripts/index.mjs
  scripts/lib/examples-processing.mjs
  scripts/lib/file-metadata.mjs
  scripts/lib/fix-image-paths.mjs
  scripts/lib/frontmatter.mjs
  scripts/lib/generate-examples-sidebar.mjs
  scripts/lib/heredoc.mjs
  scripts/lib/process-content-links.mjs
  scripts/lib/redirects-generator.mjs
  scripts/lib/remove-html-comments.mjs
  scripts/lib/root-mappings.mjs
  scripts/lib/transform-content.mjs
  scripts/lib/version-discovery.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/file-metadata.test.mjs
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/frontmatter.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
  scripts/tests/redirects-generator.test.mjs
  scripts/tests/remove-html-comments.test.mjs
  scripts/tests/transform-content.test.mjs
  scripts/tests/version-discovery.test.mjs
  vitest.config.js
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: remove reference to core path env
  astro.config.mjs
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

chore: collapse all sidebar directories
  astro.config.mjs
Due: prettier --write, eslint --fix

chore: remove reference to core path env (#193)
  astro.config.mjs
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

chore: collapse all sidebar directories (#194)
  astro.config.mjs
Due: prettier --write, eslint --fix

chore: package invocations with dotenv
  astro.config.mjs
  package-lock.json
  package.json
  vitest.config.js
Due: prettier --write, eslint --fix

chore: utilized astro page to remove title functions
  astro.config.mjs
  scripts/index.mjs
  scripts/lib/examples-processing.mjs
  scripts/lib/frontmatter.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/frontmatter.test.mjs
  src/components/PageTitle.astro
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.astro)) or (any of: *.json)) or (any of: *.css)
  eslint --fix: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.astro)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site: (any of: *.md) or (any of: *.mdx)
