Repository defenseunicorns/pepr-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.mjs": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site"
  ],
  "*.mdx": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site"
  ]
}

chore: ci build debug
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: updated build package
  build/package.json
  package-lock.json
Due: prettier --write

chore: removed unneeded flag
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  package.json
Due: prettier --write

chore: link check needs deps to run
  .github/workflows/linkcheck.yml
Due: none

chore: moved build contents to scripts and removed build dir
  .lintstagedrc.json
  README.md
  astro.config.mjs
  package.json
  scripts/build.sh
  scripts/heredoc.mjs
  scripts/index.mjs
  scripts/package.json
  scripts/redirects-generator.mjs
  scripts/tests/e2e-link-validation.test.mjs
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
  scripts/tests/redirects-generator.test.mjs
  scripts/tests/remove-html-comments.test.mjs
  scripts/tests/version-discovery.test.mjs
  scripts/version-discovery.mjs
  scripts/vitest.config.js
  site-docs/ARCHITECTURE.md
  site-docs/CONTRIBUTING.md
  site-docs/REDIRECTS.md
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: ran install
  package-lock.json
Due: prettier --write

Update src/components/PostHog.astro
  src/components/PostHog.astro
Due: prettier --write, eslint --fix

chore: removed no audit flag
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

Declare peer deps
  package-lock.json
Due: prettier --write

List esbuild as dev dep for lighthouse build
  package-lock.json
  package.json
Due: prettier --write

chore: added badgen to linkinator skip
  linkinator.config.json
Due: prettier --write

Prefer use of npm ci
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  package-lock.json
  package.json
Due: prettier --write

Exclude temp/
  .gitignore
Due: none

Revert "Exclude temp/"
  .gitignore
Due: none

Update package-lock
  package-lock.json
Due: prettier --write

update optional deps
  package.json
Due: prettier --write

consolidate package.json files
  package-lock.json
  package.json
  scripts/index.mjs
  scripts/package.json
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
  scripts/tests/remove-html-comments.test.mjs
Due: prettier --write, eslint --fix

move build deps
  package.json
Due: prettier --write

Auto-deploy docs
  dist/index.html
  dist/index.md
  dist/index/index.md
  dist/llms-full.txt
  dist/llms-small.txt
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: install vanilla cookie consent package
  package-lock.json
  package.json
  scripts/vitest.config.js
  tsconfig.json
  vitest.config.js
Due: prettier --write, eslint --fix

chore: added cookie consent banner
  astro.config.mjs
  src/components/CookieConsent.astro
  src/components/Footer.astro
  src/components/Head.astro
Due: prettier --write, eslint --fix

update package lock
  package-lock.json
Due: prettier --write

no optional deps flag added to workflow
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

removed no optional deps flag added to workflow
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: functioning cookie consent
  src/components/CookieConsent.astro
  src/components/Footer.astro
  src/components/Head.astro
  src/components/PostHog.astro
Due: prettier --write, eslint --fix

styled banner with brand colors
  src/components/CookieConsent.astro
  src/styles/global.css
Due: prettier --write, eslint --fix

Fix non-breaking audit changes
  package-lock.json
  package.json
Due: prettier --write

Remove omit flag
  .github/workflows/docs.yml
Due: none

chore: removed omit dev flag
  .github/workflows/docs.yml
Due: none

chore: removed netlify cli sharp and starlight scroll to top
  package-lock.json
  package.json
  vitest.config.js
Due: prettier --write, eslint --fix

chore: regenerated package-lock
  package-lock.json
  package.json
Due: prettier --write

chore: removed markdownlint-cli
  package-lock.json
  package.json
Due: prettier --write

chore: updated docs for new redirect manual test process
  package.json
  site-docs/CONTRIBUTING.md
  site-docs/REDIRECTS.md
Due: prettier --write, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site
