Repository defenseunicorns/pepr-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

Update .markdownlint.json
  .markdownlint.json
Due: prettier --write

chore: removed build from ignore
  .markdownlint.json
  .prettierignore
  README.md
  build/heredoc.mjs
  build/index.mjs
  build/redirects-generator.mjs
  build/tests/fix-image-paths.test.mjs
  build/tests/pipeline-integration.test.mjs
  build/tests/redirects-generator.test.mjs
  build/tests/remove-html-comments.test.mjs
  build/tests/retired-redirects.test.mjs
  build/tests/version-discovery.test.mjs
  build/version-discovery.mjs
  build/vitest.config.js
  package.json
  site-docs/CONTRIBUTING.md
  site-docs/REDIRECTS.md
Due: prettier --write, eslint --fix, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: simplified local build
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/build.sh
  .gitignore
  README.md
  build/index.mjs
  build/tests/e2e-link-validation.test.mjs
  build/tests/retired-redirects.test.mjs
  netlify.toml
  package.json
  site-docs/CONTRIBUTING.md
  site-docs/REDIRECTS.md
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: updated build script for github ci
  .shellcheckrc
  README.md
  package.json
  scripts/build.sh
  site-docs/CONTRIBUTING.md
Due: prettier --write, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: updated build script to mkdir
  scripts/build.sh
Due: shellcheck -f tty

chore: updated core var in build sh
  scripts/build.sh
Due: shellcheck -f tty

chore: update linkcheck build
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: update index mjs
  build/index.mjs
Due: prettier --write, eslint --fix

chore: update contributing md
  site-docs/CONTRIBUTING.md
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: created posthog js and imported to astro config
  astro.config.mjs
  public/posthog.js
Due: prettier --write, eslint --fix

chore: test ci
  file.txt
Due: none

Update .gitignore
  .gitignore
Due: none

chore: added netlify as dev dep
  package-lock.json
  package.json
Due: prettier --write

chore: set netlify core path for previews
  netlify.toml
Due: none

chore: build failure ci test
  .github/workflows/docs.yml
Due: none

chore: update docs yml to omit optional
  .github/workflows/docs.yml
Due: none

chore: regenerate package lock
  package-lock.json
Due: prettier --write

chore: install ci
  .github/workflows/docs.yml
Due: none

chore: remove netlify depth restraint so it can find versions
  netlify.toml
Due: none

chore: updated config to use head component
  .prettierrc
  astro.config.mjs
  package-lock.json
  package.json
  public/posthog.js
  src/components/Head.astro
  src/components/PostHog.astro
Due: prettier --write, eslint --fix

chore: updated docs workflow to install from cache
  .github/workflows/docs.yml
Due: none

chore: updated linkcheck workflow install
  .github/workflows/linkcheck.yml
Due: none

chore: added google analytics
  src/components/Head.astro
Due: prettier --write, eslint --fix

chore: added commitlint workflow
  .github/workflows/commitlint.yml
  config/commitlint.config.js
Due: prettier --write, eslint --fix

chore: update syntax
  config/commitlint.config.js
Due: prettier --write, eslint --fix

chore: updated optional deps for netlify build error
  package-lock.json
  package.json
Due: prettier --write

chore: added styles to global css
  src/styles/global.css
Due: prettier --write

chore: renamed work directory to tmp
  .github/workflows/docs.yml
  .github/workflows/scripts/validate-gitignore.sh
  .gitignore
  .lintstagedrc.json
  .prettierignore
  build/index.mjs
  eslint.config.mjs
  package.json
  site-docs/ARCHITECTURE.md
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: renamed prettierignore reference to work
  .prettierignore
Due: none

fix: rename workflow checkout path from docs to pepr-docs to avoid netlify-cli conflict
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: renamed back to work
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/validate-gitignore.sh
  .gitignore
  .lintstagedrc.json
  .prettierignore
  build/index.mjs
  eslint.config.mjs
  package.json
  site-docs/ARCHITECTURE.md
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site

chore: fixed scripts for netlify ci stabilitiy
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: added optional dep for stability
  package-lock.json
  package.json
Due: prettier --write

chore: renamed docs to pepr-docs to avoid netlify cli conflict
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

chore: workflow now wont run netlify cli dep in CI
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
Due: none

Path conditions:
  prettier --write: (((((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.astro)) or (any of: *.json)) or (any of: *.css)
  eslint --fix: (((any of: *.ts) or (any of: *.mjs)) or (any of: *.js)) or (any of: *.astro)
  shellcheck -f tty: (any of: *.sh) or (any of: .husky/pre-*)
  npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore work --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore build --ignore site: (any of: *.md) or (any of: *.mdx)
