Repository defenseunicorns/pepr-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.mjs": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site"
  ],
  "*.mdx": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site"
  ]
}

chore: added collapsed true to versioned docs
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: utilized astro page to remove title functions (#201)
  astro.config.mjs
  scripts/index.mjs
  scripts/lib/examples-processing.mjs
  scripts/lib/frontmatter.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/frontmatter.test.mjs
  src/components/PageTitle.astro
Due: prettier --write, eslint --fix

chore: added collapsed true to versioned docs (#202)
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: added 7 day cooldown to dependabot
  .github/dependabot.yml
Due: none

chore: added 7 day cooldown to dependabot (#206)
  .github/dependabot.yml
Due: none

chore: clone repos in build and remove dotenv
  .gitignore
  README.md
  astro.config.mjs
  netlify.toml
  package-lock.json
  scripts/build.sh
  scripts/tests/version-discovery.test.mjs
  site-docs/CONTRIBUTING.md
  vitest.config.js
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: fixed version notice banner
  src/components/PageTitle.astro
  src/pages/404.astro
Due: prettier --write, eslint --fix

chore: helper function for core path resolution
  astro.config.mjs
  scripts/lib/version-discovery.mjs
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

Apply suggestion from @samayer12
  scripts/tests/version-discovery.test.mjs
Due: prettier --write, eslint --fix

chore: updated site docs and error messages
  README.md
  astro.config.mjs
  scripts/index.mjs
  scripts/lib/generate-examples-sidebar.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/version-discovery.test.mjs
  site-docs/ARCHITECTURE.md
Due: prettier --write, eslint --fix, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: simplify package invocations and remove env (#199)
  .gitignore
  README.md
  astro.config.mjs
  netlify.toml
  package.json
  scripts/build.sh
  scripts/index.mjs
  scripts/lib/generate-examples-sidebar.mjs
  scripts/lib/version-discovery.mjs
  scripts/tests/examples-integration.test.mjs
  scripts/tests/version-discovery.test.mjs
  site-docs/ARCHITECTURE.md
  site-docs/CONTRIBUTING.md
  src/components/PageTitle.astro
  src/pages/404.astro
Due: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: update astro
  package-lock.json
  package.json
Due: prettier --write

chore: removed obselete code
  package.json
  scripts/index.mjs
  scripts/lib/file-metadata.mjs
  scripts/lib/fix-image-paths.mjs
  scripts/lib/process-content-links.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/file-metadata.test.mjs
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: removed obselete code (#242)
  package.json
  scripts/index.mjs
  scripts/lib/file-metadata.mjs
  scripts/lib/fix-image-paths.mjs
  scripts/lib/process-content-links.mjs
  scripts/tests/core-integration.test.mjs
  scripts/tests/file-metadata.test.mjs
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: add transform function to remap root markdown files
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: whitespace change to trigger workflow
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: add transform function to remap root markdown files (#261)
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: remove starlight contextual menu
  astro.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/lib/root-mappings.mjs
  scripts/tests/transform-content.test.mjs
Due: prettier --write, eslint --fix

chore: upgrade node
  .github/workflows/test.yml
Due: none

chore: docs workflow to use upgraded node
  .github/workflows/docs.yml
Due: none

chore: removed redundant failure in linkcheck summary
  .github/workflows/scripts/linkcheck-summary.ts
Due: prettier --write, eslint --fix

chore: revert exitCode change
  .github/workflows/scripts/linkcheck-summary.ts
Due: prettier --write, eslint --fix

chore: added autogenerated sidebar to items array
  astro.config.mjs
  scripts/index.mjs
  scripts/lib/generate-examples-sidebar.mjs
  scripts/tests/examples-integration.test.mjs
Due: prettier --write, eslint --fix

chore: remove image zoom plugin
  astro.config.mjs
Due: prettier --write, eslint --fix

chore: fix sidebar title case
  scripts/lib/generate-examples-sidebar.mjs
  scripts/tests/examples-integration.test.mjs
Due: prettier --write, eslint --fix

chore: bump vitest coverage and regenerate lock
  package-lock.json
  package.json
Due: prettier --write

chore: regenerate package lock
  package-lock.json
Due: prettier --write

chore: bump with vitest-coverage-v8
  package-lock.json
  package.json
Due: prettier --write
