Repository defenseunicorns/pepr-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, shellcheck -f tty, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.mjs": ["prettier --write", "eslint --fix"],
  "*.js": ["prettier --write", "eslint --fix"],
  "*.astro": ["prettier --write", "eslint --fix"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"],
  "*.sh": ["shellcheck -f tty"],
  ".husky/pre-*": ["shellcheck -f tty"],
  "*.md": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site"
  ],
  "*.mdx": [
    "npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site"
  ]
}

chore: linkcheck to pass with 403 warnings
  linkinator.config.json
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: added rate limiting 429 to warning
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: var failed status codes
  linkinator.config.json
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: configured dependabot
  .github/dependabot.yml
Due: none

Update scripts/tests/e2e-link-validation.test.mjs
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: configured dependabot (#117)
  .github/dependabot.yml
Due: none

chore: workflow summary for link check
  .github/workflows/commitlint.yml
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/linkcheck-summary.sh
  linkinator.config.json
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix, shellcheck -f tty

chore: workflow syntax fix
  .github/workflows/linkcheck.yml
Due: none

chore: changed to table format
  .github/workflows/scripts/linkcheck-summary.sh
Due: shellcheck -f tty

chore: linkcheck to pass with warning status codes (#115)
  .github/workflows/commitlint.yml
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/linkcheck-summary.sh
  linkinator.config.json
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix, shellcheck -f tty

chore: created helper functions
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: install
  package-lock.json
Due: prettier --write

chore: update prepare husky to be inline with husky 9
  package-lock.json
  package.json
Due: prettier --write

chore: removed continue on error
  .github/workflows/linkcheck.yml
Due: none

chore: updated readme core file name to overview
  package-lock.json
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: github workflow to run all tests
  .github/workflows/test.yml
  package-lock.json
Due: prettier --write

chore: link check summary to ts
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/linkcheck-summary.sh
  .github/workflows/scripts/linkcheck-summary.ts
  tsconfig.json
Due: prettier --write, eslint --fix, shellcheck -f tty

chore: added check for ci
  .github/workflows/scripts/linkcheck.sh
Due: shellcheck -f tty

chore: added build
  .github/workflows/test.yml
Due: none

chore: renamed
  .github/workflows/test.yml
Due: none

chore: link check summary to ts (#138)
  .github/workflows/linkcheck.yml
  .github/workflows/scripts/linkcheck-summary.sh
  .github/workflows/scripts/linkcheck-summary.ts
  package-lock.json
  tsconfig.json
Due: prettier --write, eslint --fix, shellcheck -f tty

chore: github workflow to run all tests (#137)
  .github/workflows/scripts/linkcheck.sh
  .github/workflows/test.yml
Due: shellcheck -f tty

chore: update prepare husky to be inline with husky 9 (#131)
  package.json
Due: prettier --write

chore: updated readme core file name to overview (#135)
  scripts/index.mjs
Due: prettier --write, eslint --fix

chore: created helper functions (#129)
  scripts/tests/e2e-link-validation.test.mjs
Due: prettier --write, eslint --fix

chore: removed continue on error (#133)
  .github/workflows/linkcheck.yml
Due: none

chore: use theme colors, updated links and extracted reused styles
  src/pages/404.astro
Due: prettier --write, eslint --fix

chore: use theme colors, updated links and extracted reused styles (#149)
  src/pages/404.astro
Due: prettier --write, eslint --fix

chore: removed legacy functions
  scripts/index.mjs
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: removed legacy functions (#150)
  scripts/index.mjs
  scripts/tests/fix-image-paths.test.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: moved deploy build to netlify
  .github/workflows/docs.yml
Due: none

chore: updated site docs guide for internal links
  site-docs/CONTRIBUTING.md
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: updated build script to transform relative paths to correct url syntax
  scripts/index.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
Due: prettier --write, eslint --fix

chore: updated site-docs
  site-docs/ARCHITECTURE.md
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: add link transformation script (#157)
  scripts/index.mjs
  scripts/tests/pipeline-integration.test.mjs
  scripts/tests/process-content-links.test.mjs
  site-docs/CONTRIBUTING.md
Due: prettier --write, eslint --fix, npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: moved deploy build to netlify (#153)
  .github/workflows/docs.yml
  site-docs/ARCHITECTURE.md
Due: npx -y markdownlint-cli --fix --ignore node_modules --ignore dist --ignore tmp --ignore .astro --ignore src/content/docs --ignore src/content/versions --ignore scripts --ignore site

chore: sidebar topics plugin installed
  package-lock.json
  package.json
Due: prettier --write

chore: builds pexex
  .github/workflows/docs.yml
  .github/workflows/linkcheck.yml
  .github/workflows/test.yml
  astro.config.mjs
  netlify.toml
  scripts/build.sh
  scripts/index.mjs
Due: prettier --write, eslint --fix, shellcheck -f tty
